<section class="entries">
    <form name="entryForm">
        <p>
            <label for="firstName">First Name:</br>
                <input name="firstName" id="firstName" placeholder="First Name"/>
                <span class="error-message"></span>
            </label>
        </p>
        <p>
            <label for="lastName">Last Name:<br />
                <input name="firstName" id="lastName" placeholder="Last Name"/>
                <span class="error-message"></span>
            </label>
        </p>
        <p>
            <label for="firstName">Title:<br />
                <input name="title" id="title" placeholder="Title"/>
                <span class="error-message"></span>
            </label>
        </p>
        <p>
            <label for="phone">Phone:<br/>
                <input name="phone" id="phone" placeholder="123-456-7890"/>
                <span class="error-message"></span>
            </label>
        </p>
        <p>
            <label for="firstName">Email:<br />
                <input name="email" id="email" placeholder="yourmail@adress.com"/>
                <span class="error-message"></span>
            </label>
        </p>
        <p>
            <button type="submit">Add</button>
            <button type="reset">Clear</button>
        </p>
    </form>
</section>